.card {
  padding: 20px;
  width: 400px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  text-align: justify;
  text-align: center;
}
.card img {
  width: 350px;
  margin-top: 20px;
}
body {
  background-color: hsl(212, 45%, 89%);
}
.card h3 {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
}
.card p {
  font-family: sans-serif;
  color: gray;
  font-size: 25px;
}
